* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(img/photo.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

header .navigation {
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  color: white;
  padding-top: 2%;
}

header .logo_waxom {
  fill: white;
  stroke: rgba(124, 124, 124, 0);
}

header .logo {
  text-decoration: none;
  color: white;
  font-size: 34px;
  font-family: Raleway, arial, sans-serif;
}

header .logo:hover {
  color: #998675;
}

header .logo:hover .logo p {
  color: #998675;
}

header .logo:hover .logo_waxom {
  fill: #998675;
  stroke: rgba(124, 124, 124, 0);
}

header nav a {
  color: white;
  text-decoration: none;
  list-style-type: none;
  margin: 0 15px 0 15px;
  font-family: montserrat, arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header header p {
  font-size: 34px;
  font-family: Raleway, arial, sans-serif;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header input[type="search"] {
  width: 30px;
  height: 30px;
  outline: none;
  background-image: url("img/search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

header input[type="search"]:focus {
  width: 200px;
  -webkit-transition: width 1s ease-out;
  transition: width 1s ease-out;
  background-position: right;
  background-color: white;
}

header input[type="search"]:hover {
  width: 200px;
  -webkit-transition: width 1s ease-out;
  transition: width 1s ease-out;
  background-position: right;
  background-color: white;
}

header .bucket {
  width: 30px;
  height: 30px;
  background-image: url(img/bucket.svg);
  background-repeat: no-repeat;
}

header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .content .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 600px;
  color: white;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .content .info p {
  font-size: 16px;
  font-family: montserrat, arial, sans-serif;
  font-weight: 600;
  margin-top: 12px;
}

header .content .info h2 {
  font-size: 36px;
  font-family: Raleway, arial, sans-serif;
  font-weight: 400;
}

header .content .info h1 {
  font-size: 52px;
  font-family: Raleway, arial, sans-serif;
  font-weight: 800;
}

header .content .info button {
  width: 175px;
  height: 50px;
  margin-top: 50px;
  font-size: 14px;
  font-family: Raleway, arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: white;
  background-color: #998675;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 0 1px #736357;
          box-shadow: 0 2px 0 1px #736357;
}

header .content .info button:hover {
  background-color: #8b7a6a;
}

header .content .slider-arrow_left {
  display: block;
  width: 40px;
  height: 73px;
  position: relative;
  z-index: 3;
  margin-left: 24px;
}

header .content .slider-arrow_left:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid #d3c1ad;
  border-right: 2px solid #d3c1ad;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  position: absolute;
  top: 10px;
  left: -25px;
  margin-left: 24px;
}

header .content .slider-arrow_left:hover:after {
  border-top: 2px solid #8b7a6a;
  border-right: 2px solid #8b7a6a;
  margin-left: 24px;
}

header .content .slider-arrow_right {
  display: block;
  width: 40px;
  height: 73px;
  position: relative;
  z-index: 3;
}

header .content .slider-arrow_right:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid #d3c1ad;
  border-right: 2px solid #d3c1ad;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 10px;
  left: -25px;
}

header .content .slider-arrow_right:hover:after {
  border-top: 2px solid #8b7a6a;
  border-right: 2px solid #8b7a6a;
}

header .carusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 5px 0;
  position: absolute;
  bottom: 5%;
  margin: auto;
  z-index: 3;
}

header .carusel .carusel_item {
  width: 12px;
  height: 12px;
  margin: 0 7px;
  border-radius: 50%;
  border: 1px #838282 solid;
  background-color: #999797;
}

header .carusel .carusel_item:hover {
  border: 2px #d3c1ad solid;
  background-color: rgba(0, 0, 0, 0);
}

main .functions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;
  max-width: 1300px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

main .functions h3 {
  font-family: raleway, arial, sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #535353;
}

main .functions p {
  font-family: montserrat-medium, arial, sans-serif;
  color: rgba(100, 100, 100, 0.575);
  line-height: 24px;
  font-size: 14px;
}

main .functions .functions_item {
  width: 280px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 0 20px;
}

main .functions .functions_item img {
  fill: white;
}

main .functions .functions_item:after {
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  background-color: #f1eee9;
  margin: 0 auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

main .functions .sign {
  fill: #555555;
  stroke: #555555;
}

main .functions .piece {
  fill: #555555;
  stroke: #555555;
  width: 44px;
  height: 44px;
  -webkit-animation-name: piece;
          animation-name: piece;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes piece {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes piece {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

main .functions .functions_item:hover .sign {
  fill: #c7b299;
  stroke: #c7b299;
}

main .functions .functions_item:hover .piece {
  fill: #c7b299;
  stroke: #c7b299;
  -webkit-animation-name: piece;
          animation-name: piece;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

main .functions .functions_item:hover .functions_item:after {
  background-color: #c7b299;
}

main .functions .functions_item:hover h3 {
  color: #c7b299;
}

main .ideas {
  text-align: center;
  background: #fbfaf8;
}

main .ideas h2 {
  font-family: raleway, arial, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #535353;
  margin: 0 auto;
  padding-top: 60px;
}

main .ideas p {
  font-family: montserrat-medium, arial, sans-serif;
  color: rgba(100, 100, 100, 0.575);
  line-height: 28px;
  font-size: 16px;
  width: 800px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 30px;
}

main .ideas .screenshots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1230px;
  height: 480px;
  position: relative;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .ideas .screen1 {
  position: absolute;
  z-index: 1;
  right: 37%;
}

main .ideas .screen1:hover {
  z-index: 3;
  -webkit-animation-name: screen1;
          animation-name: screen1;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes screen1 {
  from {
    width: 770px;
    height: 400px;
  }
  to {
    width: 800px;
    height: 430px;
  }
}

@keyframes screen1 {
  from {
    width: 770px;
    height: 400px;
  }
  to {
    width: 800px;
    height: 430px;
  }
}

main .ideas .screen2 {
  position: absolute;
  z-index: 2;
}

main .ideas .screen2:hover {
  -webkit-animation-name: screen2;
          animation-name: screen2;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes screen2 {
  from {
    width: 770px;
    height: 482px;
  }
  to {
    width: 800px;
    height: 512px;
  }
}

@keyframes screen2 {
  from {
    width: 770px;
    height: 482px;
  }
  to {
    width: 800px;
    height: 512px;
  }
}

main .ideas .screen3 {
  position: absolute;
  z-index: 1;
  left: 37%;
}

main .ideas .screen3:hover {
  z-index: 3;
  -webkit-animation-name: screen3;
          animation-name: screen3;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes screen3 {
  from {
    width: 770px;
    height: 400px;
  }
  to {
    width: 800px;
    height: 430px;
  }
}

@keyframes screen3 {
  from {
    width: 770px;
    height: 400px;
  }
  to {
    width: 800px;
    height: 430px;
  }
}

main .ideas .wordpress {
  background: -webkit-gradient(linear, left top, right top, from(#211b19), color-stop(#211b19), to(#4e3427));
  background: linear-gradient(to right, #211b19, #211b19, #4e3427);
  padding: 40px 0 40px 0;
}

main .ideas .content_wordpress {
  max-width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .ideas .wordpress h2 {
  color: white;
  font-family: raleway, arial, sans-serif;
  font-size: 28px;
  font-weight: 400;
  padding: 0;
}

main .ideas .wordpress span {
  color: #c7b299;
}

main .ideas .wordpress p {
  font-size: 18px;
  padding: 0;
}

main .ideas .text {
  text-align: left;
}

main .ideas button {
  width: 190px;
  height: 40px;
  font-size: 14px;
  font-family: Raleway, arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: white;
  background-color: #998675;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 0 1px #736357;
          box-shadow: 0 2px 0 1px #736357;
}

main .ideas button:hover {
  background-color: #8b7a6a;
}

main .projects {
  text-align: center;
}

main .projects h2 {
  font-family: raleway, arial, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #535353;
  margin: 0 auto;
  padding-top: 60px;
}

main .projects h3 {
  font-family: raleway, arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #998675;
}

main .projects p {
  font-family: montserrat-medium, arial, sans-serif;
  color: rgba(100, 100, 100, 0.575);
  line-height: 28px;
  font-size: 16px;
  width: 800px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 30px;
}

main .projects .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .projects .buttons_item {
  text-decoration: none;
  border: 1px rgba(56, 56, 56, 0.13) solid;
  border-radius: 5px;
  padding: 3px 15px 3px 15px;
  font-family: montserrat-medium, arial, sans-serif;
  color: rgba(100, 100, 100, 0.719);
  line-height: 28px;
  font-size: 14px;
  margin: 0 10px 10px 0px;
}

main .projects .buttons_item:hover {
  background-color: #998675;
  color: white;
}

main .projects .projects_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

main .projects .projects_content_item {
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 40px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .projects .projects_text {
  text-align: left;
  padding: 15px 0 15px 20px;
  background-color: #fbfaf8;
}

main .projects .projects_text:before {
  content: "";
  display: block;
  position: absolute;
  border: 13px solid transparent;
  border-bottom: 13px solid #fbfaf8;
  top: -5%;
  left: 10%;
}

main .projects .projects_text p {
  margin: 0;
  width: auto;
  padding: 10px 0 0 0;
  font-size: 14px;
}

main .projects button {
  width: 175px;
  height: 50px;
  font-size: 14px;
  font-family: Raleway, arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: white;
  background-color: #998675;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 0 1px #736357;
          box-shadow: 0 2px 0 1px #736357;
}

main .projects button:hover {
  background-color: #8b7a6a;
}

main .presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 0;
  max-width: 100%;
  height: 705px;
  background-image: url(img/table.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

main .presentation .presentation_content {
  text-align: center;
}

main .presentation h2 {
  font-family: raleway, arial, sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.94);
  margin: 0 auto;
  padding-top: 40px;
}

main .presentation p {
  font-family: montserrat-medium, arial, sans-serif;
  color: rgba(255, 255, 255, 0.94);
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 25px;
}

main .presentation .presentation_time {
  font-family: montserrat-medium, arial, sans-serif;
  color: #c2ae96;
  line-height: 28px;
  font-size: 14px;
}

main .presentation .play_circle {
  opacity: 0.3;
}

main .presentation .play_icon {
  fill: white;
}

main .presentation .play:hover .play_icon {
  fill: #998675;
}

main .mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0 0 0;
}

main .mobile h2 {
  font-family: raleway, arial, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #535353;
  margin: 0 auto;
  margin-bottom: 18px;
}

main .mobile p {
  font-family: montserrat-medium, arial, sans-serif;
  color: rgba(100, 100, 100, 0.753);
  font-size: 16px;
  max-width: 700px;
  line-height: 26px;
  text-align: justify;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 25px;
}

main .mobile ul {
  list-style-type: none;
  line-height: 37px;
  margin: 10px 0 0 80px;
  font-family: montserrat-medium, arial, sans-serif;
  color: rgba(100, 100, 100, 0.753);
  font-size: 16px;
}

main .mobile li {
  position: relative;
}

main .mobile li:before {
  content: ">";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -7%;
  top: 20%;
  width: 20px;
  height: 20px;
  color: rgba(235, 235, 235, 0.877);
  border-radius: 50%;
  background: #c7b299;
}

main .mobile .mobile_info {
  margin: 0 0 0 30px;
}

main .mobile .content_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .mobile .notifications {
  width: 100%;
  height: 300px;
  background: -webkit-gradient(linear, left top, right top, from(#211b19), color-stop(#211b19), to(#4e3427));
  background: linear-gradient(to right, #211b19, #211b19, #4e3427);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .mobile .notifications_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 960px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

main .mobile .notification_item {
  text-align: center;
}

main .mobile .notification_item p {
  color: #c7b299;
  text-align: center;
  margin: 0;
  padding: 0;
}

main .mobile .notification_item:after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #f1eee9;
  margin: 0 auto;
  margin-top: 15px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

main .mobile h3 {
  color: white;
  font-family: montserrat-extralight, arial, sans-serif;
  font-weight: 100;
  font-size: 48px;
  margin-top: 10px;
}

main .mobile .mobile_icon {
  fill: #c7b299;
}

main .posts {
  text-align: center;
}

main .posts h2 {
  font-family: raleway, arial, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #535353;
  margin: 0 auto;
  padding-top: 60px;
}

main .posts h3 {
  font-family: raleway, arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #535353;
  margin: 20px 0 15px 0;
}

main .posts p {
  font-family: montserrat-medium, arial, sans-serif;
  color: rgba(100, 100, 100, 0.575);
  line-height: 28px;
  font-size: 16px;
  width: 800px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 30px;
}

main .posts a {
  font-family: montserrat, arial, sans-serif;
  color: #cfaa7d;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

main .posts .posts_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

main .posts .posts_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 370px;
  position: relative;
}

main .posts .posts_text {
  text-align: left;
  background-color: #ffffff;
  height: 170px;
  padding: 0 0 0 20px;
}

main .posts .posts_text p {
  color: #535353;
  line-height: 22px;
  font-size: 14px;
  width: 350px;
  padding: 0;
  margin: 0 0 25px 0;
}

main .posts .post_dark {
  background-color: rgba(0, 0, 0, 0.7);
  width: 370px;
  height: 220px;
  position: absolute;
  display: none;
  z-index: 1;
}

main .posts .calendar {
  width: 50px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 2;
}

main .posts .calendar_top {
  background-color: #363636;
  margin: 0;
  padding: 0;
  width: auto;
  color: white;
  border-radius: 5px 5px 0 0;
}

main .posts .calendar_bot {
  background-color: #252525;
  margin: 0;
  padding: 0;
  width: auto;
  color: white;
  font-size: 12px;
  border-radius: 0 0 5px 5px;
}

main .posts .posts_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0 50px 0;
}

main .posts .post_icon {
  fill: #c5c5c5;
}

main .posts .icon_item {
  margin: 0 3px 0 3px;
}

main .posts .icon_item:hover .post_icon {
  fill: #c7b299;
}

main .posts .posts_item:hover .posts_text {
  background-color: #362f2d;
}

main .posts .posts_item:hover .posts_text p {
  color: #cfcfcf;
}

main .posts .posts_item:hover h3 {
  color: #c7b299;
}

main .posts .posts_item:hover .post_dark {
  display: inline;
}

main .posts .posts_item:hover .calendar_top {
  background-color: #c7b299;
}

main .posts .posts_item:hover .calendar_bot {
  background-color: #a48d72;
}
/*# sourceMappingURL=style.css.map */